<% if @amazon_books.present? %>
  <table>
    <thead>
      <tr>
        <th>Image url</th>
        <th>Title</th>
        <th>Author</th>
        <th>Publisher</th>
        <th>Publish date</th>
        <th>Isbn</th>
        <th>積ん読</th>
        <th>読んだ本</th>
      </tr>
    </thead>
    <tbody>
      <% @amazon_books.each do |book| %>
        <tr>
          <% if book.image_url.present? %>
            <td>
              <%= link_to (image_tag(book.image_url, style: "width: 70px;height: 100px;display: inline-block;")), book.url %>
            </td>
          <% end %>
          <td><%= book.title %></td>
          <td><%= book.author %></td>
          <td><%= book.publisher %></td>
          <td><%= book.publication_date %></td>
          <td><%= book.isbn %></td>
          <td>積ん読</td>
          <td>読んだ本</td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
